<div class="container mt-5">

  <h3>New Task</h3>

  <%= form_for(@task) do |f| %>
    
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control breadcrumb"%>
    </div>
    <div class="form-group">  
      <%= f.label :details %>
      <%= f.text_field :details, class:"form-control breadcrumb" %>
    </div>

    <%#= f.check_box :completed %> 
    <% unless f.object.new_record? %>    
      <div class="checkbox">
        <label>
          <%= f.check_box :completed %> Completed
        </label>
      </div>
    <% end %>

  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-outline-primary">
      Submit
      <% f.submit %>
    </button>

    <%= link_to "Cancel", tasks_path %>      
  </div>
    

  <% end %>


</div>